<div class="page">


<header class="page-header">


<div>

<div class="eyebrow">
CUSTOS REFERENCIAIS
</div>


<h1>
Mapa de ocorrências de materiais
</h1>


<p>
Localização espacial de fornecedores,
jazidas e unidades produtoras.
</p>


</div>


</header>




<section class="toolbar">


<button
(click)="filter('TODOS')">

Todos

</button>


<button
(click)="filter('PEDREIRA')">

▲ Pedreiras

</button>


<button
(click)="filter('AREAL')">

● Areais

</button>


<button
(click)="filter('JAZIDA')">

■ Jazidas

</button>


<button
(click)="filter('USINA')">

◆ Usinas

</button>


<button
(click)="filter('CANTEIRO')">

★ Canteiros

</button>



</section>





<section class="map-card">


<div
id="map">

</div>


</section>



</div>