<div class="sidebar">

  <div class="brand">
    <div class="brand-mark">E</div>

    <div>
      <strong>{{ appName }}</strong>
      <span>{{ appSubtitle }}</span>
    </div>
  </div>

  <nav class="navigation">

    <a
      routerLink="/projects"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="selectMenu('Projetos')"
    >
      <span>Projetos</span>
    </a>

    <a
      routerLink="/budgets"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="selectMenu('Orçamentos')"
    >
      <span>Orçamentos</span>
    </a>

  </nav>

  <div class="sidebar-footer">
    <span>v0.1</span>
  </div>

</div>